@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="side">
        <div class="center">
            Новая социальная сеть. Приветствуем.
        </div>
        <img class="main-img" src="http://pngimg.com/uploads/husky/husky_PNG19.png" />
    </div>
</div>

